#jwt {
    min-height: 200px;
}

#jwt-builder-header, #jwt-parsed-header {
    min-height: 200px;
}

#jwt-builder-body, #jwt-parsed-body {
    min-height: 500px;
}

.container {
    max-width: none;
}

p.header {
    display: block;
    margin: 0;
    border: 1px solid gold;
}

textarea {
    border: 1px solid gold;
}

.dropdown {
    margin-bottom: 30px;
}

.form-check.jwt {
    margin-bottom: 30px;
    border: 1px solid #007bff;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus,
.functional-button, .functional-button:hover, .functional-button:focus, .form-check.jwt {
    width: 100%;
    background-color: navy;
}

.functional-button, .functional-button:hover, .functional-button:focus {
    margin-bottom: 30px;
}

#jwt {
    height: 100%;
}

div.jwt.sha-256-check > input {
    display: inline-block;
    margin-right: 15px;
    float: unset;
}

#create-jwt {
    margin-top: 10px;
    margin-left: 25px;
}

#parse-jwt, #jwt-to-parse {
    margin-top: 10px;
    width: 100%
}

#jwt-to-parse {
    height: 57%;
    resize: none;
}

.jwt-overlay {
    overflow-y: scroll;
    margin-top: 10px;
    padding-top: 7px;
    padding-left: 13px;
    padding-right: 10px;
    background-color: #eaeaea;
    height: 40%;
    border-radius: 5px;
}

.jwt-part {
    word-break: break-all;
}

.jwt-dot-separator {
    font-weight: bolder;
}

.jwt-part-0 {
    color: red;
}

.jwt-part-1 {
    color: #d63aff;
}

.jwt-part-2 {
    color: #00a5d7;
}

.jwt-part-3 {
    color: #0aa105;
}

.jwt-part-4 {
    color: #c58e02;
}

.jwt-part-over {
    color: black;
}