#jwt {
    min-height: 200px;
}

#header {
    min-height: 200px;
}

#body {
    min-height: 500px;
}

.container {
    max-width: none;
}

p.header {
    display: block;
    margin: 0;
    border: 1px solid gold;
}

textarea {
    border: 1px solid gold;
}

.dropdown {
    margin-bottom: 30px;
}

.form-check.jwt {
    margin-bottom: 30px;
    border: 1px solid #007bff;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus,
.functional-button, .functional-button:hover, .functional-button:focus, .form-check.jwt {
    width: 100%;
    background-color: navy;
}

.functional-button, .functional-button:hover, .functional-button:focus {
    margin-bottom: 30px;
}

#jwt {
    height: 100%;
}

div.jwt.sha-256-check > input {
    display: inline-block;
    margin-right: 15px;
    float: unset;
}

#create-jwt {
    margin-top: 10px;
    margin-left: 25px;
}
