:root {
    --left-navbar-width: 10vw;
    --main-padding-left: calc(var(--left-navbar-width) + 2vw);
    --card-width: 18rem;
    --card-modal-width: calc(var(--card-width) - 2rem);
}

body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code, .code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.react-logo {
    height: 3vmin;
    pointer-events: none;
    display: inline;

}

@media (prefers-reduced-motion: no-preference) {
    .react-logo {
        animation: react-logo-spin infinite 10s linear;
    }
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main {
    background-color: #282c34;
    color: white;
    min-height: 95.5vh;
    padding: 20px 20px 20px var(--main-padding-left);
}


/* *************************************************************************************************** */
/* common */


h1, h2, h3, h4, h5 {
    color: sandybrown;
}

span.bold {
    font-weight: bold;
}

small.error {
    padding: 2px 10px;
}

.react-link {
    color: #61dafb;
}

.hide {
    display: none !important;
}

.light-border {
    box-shadow: 2px 1px 1px 1px lightgoldenrodyellow;
    margin: 5px;
}

ul.error-list {
    padding: 0;
    margin: 0;
}

.error-list-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.error-list-item-icon {
    padding-right: 10px;
}

a.action-link {
    color: bisque;
}

a.action-link:hover {
    color: #fad4a8;
}

a h5 {
    color: gold;
    padding: 5px;
    background: linear-gradient(200deg, transparent 0%, transparent 11%, rgba(58, 62, 66, 1) 100%);
}

a h5:hover {
    color: gold;
    padding: 5px;
    background: linear-gradient(200deg, transparent 0%, transparent 11%, rgba(121, 127, 135, 0.42) 100%);
}

select {
    width: 100%;
}

/* *************************************************************************************************** */

/* *************************************************************************************************** */
/* navigation */

nav {
    padding-left: 35px;
}

.navbar-left {
    float: left;
    min-height: 95.5vh;
    min-width: var(--left-navbar-width);
    max-width: var(--left-navbar-width);
}

nav.navbar-left {
    align-items: baseline;
}

.bg-navigation {
    /*
      Variables are defined right along style declarations.
      They're indicated by the double-hyphen prefix.
    */
    --color-1: gold;
    --color-2: #282c34;
    /*
      You can access variables using the 'var()' function:
    */
    background: linear-gradient(50deg, var(--color-1), var(--color-2));
}

.bg-navigation-left {
    /*
      Variables are defined right along style declarations.
      They're indicated by the double-hyphen prefix.
    */
    --color-1: #3b361d;
    --color-2: #282c34;
    /*
      You can access variables using the 'var()' function:
    */
    background: linear-gradient(50deg, var(--color-2), var(--color-1));
}

.nav.nav-tabs[role="tablist"] {
    margin-bottom: 20px;
}

.nav.nav-tabs[role="tablist"] a {
    color: gold;
}

.nav.nav-tabs[role="tablist"] a.active {
    background-color: black;
}

/* *************************************************************************************************** */

/* *************************************************************************************************** */
/* forms */

.form-group.row {
    margin-top: 10px;
}

.disabled, .form-control:disabled, .form-control[readonly] {
    pointer-events: none;
    opacity: 0.5;
}

/* *************************************************************************************************** */


/* *************************************************************************************************** */
/* cards */

div.card-header {
    background-color: #403e3f;
}

.card-deck table th {
    min-width: 33%;
    max-width: 33%;
}


.card-deck table td.card-value-cell {
    word-wrap: anywhere;
}

.card-deck table input.list-item {
    min-width: 90%;
    max-width: 90%;
    margin-bottom: 5px;
}

.card-deck table button.add-item {
    min-width: 90%;
    max-width: 90%;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    box-shadow: 2px 1px 1px 1px lightgoldenrodyellow;
}

.card-deck table button.add-item:focus {
    min-width: 90%;
    max-width: 90%;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.card-deck table .remove-index {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.card.alias-card {
    min-width: var(--card-width);
    max-width: var(--card-width);
    margin-bottom: 15px !important;
}

.card.alias-card .keyInfo {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.8em;
}

.card.alias-card .public-cert-icon {
    max-height: 15px;
}

.card.resource-card {
    min-width: 47%;
    max-width: 47%;
    margin-bottom: 15px !important;
}

.card-control-icons {
    float: right;
    margin-top: 5px;
}

.card-load-icon, .card-control-icons:hover {
    cursor: pointer;
}

.card-modal {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(160, 52, 52, 0.8);
    display: flex;
    justify-content: center;
}

.card-modal-content {
    background-color: rgba(55, 49, 49, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: var(--card-modal-width);
    max-width: var(--card-modal-width);
    padding: 20px;
    border-radius: 25px;
}

.card-modal-content .card-title {
    text-align: center;
    text-decoration: underline;
}

.card-modal-content Button.left {
    float: left;
}

.card-modal-content Button.right {
    float: right;
}

div.card-name-header {
    display: inline-block;
    min-width: 85%;
    max-width: 85%;
    padding: 5px 5px 5px 10px;
}

.card-deck {
    display: block;
}

.card-deck > div {
    display: inline-flex;
    margin-right: 15px;
}

input.form-control.card-input-field, input.form-control.card-input-field:focus {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: gold dashed thin;
    padding: 0;
    outline: none;
    box-shadow: none;
    display: inline-block;
    height: 25px;
    border-radius: unset;
}

/* *************************************************************************************************** */


/* *************************************************************************************************** */
/* certificate entries */

.load-certificate-icon {
    width: 150px;
    margin-bottom: 15px;
}

.load-certificate-icon-container {
    text-align: center;
}

#application-certificate-info-header {
    margin-bottom: 15px;
}

#application-certificate-info-header p {
    display: inline;
}

/* *************************************************************************************************** */


/* *************************************************************************************************** */
/* openid workflow */

.collapse.card, .collapsing.card {
    background-color: #313131;
}

.collapse.card .card-header, .collapsing.card .card-header {
    cursor: pointer;
    background-color: #757151;
}

.alert.collapse-header {
    cursor: pointer;
    margin-bottom: 0;
}

.remove-collapse {
    float: right;
    margin-top: 4px;
}

.remove-collapse:hover {
    border: 1px solid #3b361d;
}

div.grant-type-workflow {
    margin-top: 20px;
}

div.workflow-details .collapse-header {
    padding: 0;
    margin: 0;
}

.card.workflow-card {
    background-color: transparent;
}

div.workflow-card {
    border: 1px solid bisque;
}

.alert-workflow-details {
    background: #824e9929 linear-gradient(200deg, #43935b45 0%, #d71c1c21 11%, rgba(177, 148, 0, 0.35) 120%);
    border: none;
}

.nested-workflow-details-header {
    background: transparent linear-gradient(200deg, transparent 0%, transparent 11%, rgba(0, 171, 255, 0.17) 100%);
    border: none;
}

.nested-workflow-details-body {
    border: none;
}

.url-base-value {
    color: #b5b5b5;
}

/* *************************************************************************************************** */


/* *************************************************************************************************** */
/* keystore / truststore */

.download-keystore-icon {
    text-align: center;
    display: inline-block;
    float: right;
}

.download-keystore-icon img {
    height: 40px;
}

/* *************************************************************************************************** */


p.add-new-resource {
    text-align: center;
    font-size: larger;
}

span.add-new-resource {
    font-size: larger;
    cursor: pointer;
}
