:root {
    --left-navbar-width: 10vw;
    --main-padding-left: calc(var(--left-navbar-width) + 2vw);
    --card-width: 18rem;
    --card-modal-width: calc(var(--card-width) - 2rem);
    --card-border-radius: 15px;
}

path {
    color: lightgrey !important;
}

div.alert path {
    color: #757474 !important;
}

div.card-body {
    color: whitesmoke !important;
}

body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code, .code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.react-logo {
    height: 3vmin;
    pointer-events: none;
    display: inline;

}

@media (prefers-reduced-motion: no-preference) {
    .react-logo {
        animation: react-logo-spin infinite 10s linear;
    }
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main {
    background-color: #282c34;
    color: white;
    min-height: 95.5vh;
    padding: 20px 20px 20px var(--main-padding-left);
}


/* *************************************************************************************************** */
/* common */


/*
https://localhost:6443/realms/id-crucis/protocol/openid-connect/auth?response_type=code&client_id=id-crucis-admin-ui&state=f6202263-1506-4f18-950f-dc54f1c48fba
*/

div > h1, div > h2, div > h3, div > h4, div > h5 {
    color: sandybrown;
}

span.bold {
    font-weight: bold;
}

small.error {
    padding: 2px 10px;
}

.react-link {
    color: #61dafb;
}

.hide {
    display: none !important;
}

.light-border {
    box-shadow: 2px 1px 1px 1px lightgoldenrodyellow;
    margin: 5px;
}

ul.error-list {
    padding: 0;
    margin: 0;
}

.error-list-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.error-list-item-icon {
    padding-right: 10px;
}

a.action-link {
    color: bisque;
}

a.action-link path {
    color: bisque !important;
}

a.action-link span {
    color: gold !important;
}

a.action-link:hover {
    color: #fad4a8;
}

a h5 {
    color: gold;
    padding: 5px;
    background: linear-gradient(200deg, transparent 0%, transparent 11%, rgba(58, 62, 66, 1) 100%);
}

a h5:hover {
    color: gold;
    padding: 5px;
    background: linear-gradient(200deg, transparent 0%, transparent 11%, rgba(121, 127, 135, 0.42) 100%);
}

select {
    width: 100%;
    min-height: 40px;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
}

.menu-entry.error {
    color: #eee2c9;
    display: inline-block;
}

/* *************************************************************************************************** */

/* *************************************************************************************************** */
/* navigation */

nav {
    padding-left: 35px;
}

nav.navbar-left {
    align-items: baseline;
    float: left;
    min-height: 95.5vh;
    min-width: var(--left-navbar-width);
    max-width: var(--left-navbar-width);
    padding-left: 25px;
}

.bg-navigation {
    /*
      Variables are defined right along style declarations.
      They're indicated by the double-hyphen prefix.
    */
    --color-1: gold;
    --color-2: #282c34;
    /*
      You can access variables using the 'var()' function:
    */
    background: linear-gradient(50deg, var(--color-1), var(--color-2));
}

.bg-navigation-left {
    /*
      Variables are defined right along style declarations.
      They're indicated by the double-hyphen prefix.
    */
    --color-1: #3b361d;
    --color-2: #282c34;
    /*
      You can access variables using the 'var()' function:
    */
    background: linear-gradient(50deg, var(--color-2), var(--color-1));
}

.nav.nav-tabs[role="tablist"] {
    margin-bottom: 20px;
}

.nav.nav-tabs[role="tablist"] button {
    color: gold;
}

.nav.nav-tabs[role="tablist"] button.active {
    background-color: black;
}

/* *************************************************************************************************** */

/* *************************************************************************************************** */
/* forms */

.form-group.row {
    margin-top: 10px;
}

.disabled, .form-control:disabled, .form-control[readonly] {
    pointer-events: none;
    opacity: 0.5;
}

div.row {
    margin-bottom: 10px;
}

/* *************************************************************************************************** */


/* *************************************************************************************************** */
/* cards */

div.card-header {
    background-color: #403e3f;
}

.card-group table th {
    min-width: 33%;
    max-width: 33%;
}

.card-group table td.card-value-cell {
    word-wrap: anywhere;
}

.card-group table input.list-item {
    min-width: 90%;
    max-width: 90%;
    margin-bottom: 5px;
}

.card-group table button.add-item {
    min-width: 90%;
    max-width: 90%;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    box-shadow: 2px 1px 1px 1px lightgoldenrodyellow;
}

.card-group table button.add-item:focus {
    min-width: 90%;
    max-width: 90%;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.card-group table .remove-index {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.card.alias-card {
    min-width: var(--card-width);
    max-width: var(--card-width);
    margin-bottom: 15px !important;
    padding: 0;
    margin-bottom: 15px !important;
    border: 1px solid gold !important;
    border-radius: var(--card-border-radius) !important;
}

.card.alias-card .keyInfo {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.8em;
}

.card.alias-card .public-cert-icon {
    max-height: 15px;
}

.card {
    margin-right: 15px;
}

.card.alias-card .card-header {
    padding: 10px;
    border-radius: var(--card-border-radius) !important;
}

.card.resource-card {
    min-width: 47%;
    max-width: 47%;
    padding: 0;
    margin-bottom: 15px !important;
}

.card-control-icons, .popover-remove-icon {
    color: lightgrey;
    float: right;
    margin-top: 5px;
}

.card-load-icon, .card-control-icons:hover {
    cursor: pointer;
}

.card-modal {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(160, 52, 52, 0.8);
    display: flex;
    justify-content: center;
    border-radius: var(--card-border-radius) !important;
}

.card-modal-content {
    color: darkgrey;
    background-color: rgba(55, 49, 49, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: var(--card-modal-width);
    max-width: var(--card-modal-width);
    padding: 20px;
    border-radius: 25px;
}

.card-modal-content .card-title {
    text-align: center;
    text-decoration: underline;
}

.card-modal-content Button.left {
    float: left;
}

.card-modal-content Button.right {
    float: right;
}

div.card-name-header {
    display: inline-block;
    min-width: 85%;
    max-width: 85%;
    padding: 5px 5px 5px 10px;
}

input.form-control.card-input-field, input.form-control.card-input-field:focus {
    color: white;

    background-color: transparent;
    border: none;
    border-bottom: gold dashed thin;
    padding: 0;
    outline: none;
    box-shadow: none;
    display: inline-block;
    height: 25px;
    border-radius: unset;
}

input.form-control.card-input-field::placeholder {
    color: dimgrey;
}

.resource-card select {
    width: 100%;
    min-height: 30px;
    max-height: 30px;
    padding: 3px;
    background-color: white;
    border-radius: 5px;
}

.card.resource-card.modifiable-card {
    min-width: 550px;
    border-radius: var(--card-border-radius);
}

.card.resource-card.modifiable-card .card-header {
    border-radius: var(--card-border-radius);
}

/* *************************************************************************************************** */


/* *************************************************************************************************** */
/* certificate entries */

.load-certificate-icon {
    width: 150px;
    margin-bottom: 15px;
}

.load-certificate-icon-container {
    text-align: center;
}

#application-certificate-info-header {
    margin-bottom: 15px;
}

#application-certificate-info-header p {
    display: inline;
}

/* *************************************************************************************************** */


/* *************************************************************************************************** */
/* openid workflow */

.card {
    margin-right: 5px;
}

.card-header {
    color: lightgrey !important;
}

.collapse.card, .collapsing.card {
    background-color: #313131;
}

.collapse.card .card-header, .collapsing.card .card-header {
    cursor: pointer;
    background-color: #757151;
}

.alert.collapse-header {
    cursor: pointer;
    margin-bottom: 0;
}

.remove-collapse {
    float: right;
    margin-top: 4px;
}

.remove-collapse:hover {
    border: 1px solid #3b361d;
}

div.grant-type-workflow {
    margin-top: 20px;
}

div.workflow-details {
    color: whitesmoke;
}

div.workflow-details .collapse-header {
    padding: 0;
    margin: 0;
}

.card.workflow-card {
    background-color: transparent;
    margin-right: 0;
}

.card.workflow-card-details {
    margin-right: 0;
}

div.workflow-card {
    border: 1px solid bisque;
}

.alert-workflow-details {
    background: #824e9929 linear-gradient(200deg, #43935b45 0%, #d71c1c21 30%, rgba(177, 148, 0, 0.35) 100%);
    border: none;
}

div.alert-workflow-details {
    color: whitesmoke;
}

.nested-workflow-details-header {
    background: transparent linear-gradient(200deg, transparent 0%, transparent 11%, rgba(0, 171, 255, 0.17) 100%);
    border: none;
}

.nested-workflow-details-body {
    border: none;
}

.url-base-value {
    color: #b5b5b5;
}

.grant-type-workflow .alert {
    border: none
}

div.grant-type-workflow .alert.authorization-code-grant {
    color: black !important;
    background-color: floralwhite;
}

div.grant-type-workflow .alert.authorization-code-grant > * {
    color: black !important;
    background-color: floralwhite;
}

.grant-type-workflow .alert.client-credentials-grant {
    color: black;
    background-color: burlywood;
}

.grant-type-workflow .alert.client-credentials-grant > * {
    color: black;
    background-color: burlywood;
}

.grant-type-workflow .alert.resource-owner-password-credentials-grant {
    color: black;
    background-color: sandybrown;
}

.grant-type-workflow .alert.resource-owner-password-credentials-grant > * {
    color: black;
    background-color: sandybrown;
}

/* *************************************************************************************************** */


/* *************************************************************************************************** */
/* keystore / truststore */

.download-keystore-icon.badge {
    text-align: center;
    display: inline-block;
    float: right;
    background-color: transparent !important;
}

.download-keystore-icon img {
    height: 40px;
}

/* *************************************************************************************************** */


p.add-new-resource {
    text-align: center;
    font-size: larger;
}

span.add-new-resource {
    font-size: larger;
    cursor: pointer;
}

/* *************************************************************************************************** */
/* token categories and token stores */

.add-list-item-icon {
    float: right;
    cursor: pointer;
    margin-top: 3px;
}

.edit.save-icon, .edit.delete-icon {
    margin-top: 10px;
}

.save-icon, .delete-icon, .edit-icon, .abort-icon {
    margin-top: 5px;
}

.listed-icon {
    margin-right: 7px;
}

.listed-category-header-input {
    min-width: 150px;
    width: 175px;
    max-width: 250px;
}

.list-item-input, .list-item-input:focus, .list-item-input:active {
    min-width: 80%;
    max-width: 80%;
    margin-top: 5px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 2px 1px 1px 1px lightgoldenrodyellow;
}

.list-delete-insertion {
    display: block;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(87, 51, 29, 0.8);
    text-align: center;
}

.list-delete-insertion .list-delete-text {
    color: white;
    font-weight: bold;
}

.list-delete-insertion > button {
    padding: 0 10px;
    margin: 5px 5px;
}

.token-area, .token-overview {
    resize: both;
    width: 400px;
    min-height: 10vh;
    position: absolute;
    border-radius: 5px;
}

.token-overview {
    background: #e1dede;
    color: black;
    border-radius: 0;
    overflow-wrap: normal;
    overflow-x: scroll;
}

.token-overview-short {
    max-width: 90%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overflow-column {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon-column {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.timestamp-column {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.eye-icon {
    margin-top: 5px;
}

.eye-icon:hover {
    color: gold;
}

.right-floating-icon {
    float: right;
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.token-store-id-column {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}

.token-store-name-column {
    width: 170px;
    min-width: 170px;
    max-width: 300px;
}

.checkbox-column {
    width: 25px;
    min-width: 25px;
    max-width: 25px;
}

.filter-block {
    text-align: right;
    margin-bottom: 10px;
}

.filter-block button {
    margin-left: 10px;
}

.clickable-inner-menu-entry {
    text-decoration: underline;
    cursor: pointer;
}

.active-menu-entry {
    background-color: lightgrey !important;
}

.new-menu-entry-input, .new-menu-entry-input:active {
    color: black !important;
    outline: none !important;
    width: 75% !important;
    max-width: 75% !important;
    border: 0 !important;
    border-bottom: 1px dotted black !important;
    background-color: transparent !important;
}

/* *************************************************************************************************** */

#file-b64-input {
    min-height: 30rem;
}

.drag-active {
    background-color: #ffffff;
}

/* *************************************************************************************************** */
/* http client */

.close-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#request-body-area {
    min-height: 30vh;
}

#http-client-category-menu {
    float: left;
    min-width: 225px;
    width: 225px;
}

#http-client-category-navbar {
    align-items: baseline;
    float: left;
    min-height: 87vh;
    min-width: calc(var(--left-navbar-width) + 30px);
    max-width: calc(var(--left-navbar-width) + 30px);
    padding-left: 0;
}

.http-category-icon {
    padding-right: 0 !important;
}

/* *************************************************************************************************** */

.request-success {
    color: green;
}

.request-warning {
    color: #fff3cd;;
}

.request-danger {
    color: lightcoral;
}

.timestamp {
    font-style: italic;
    color: #c58e02;
}

.alert-danger {
    background-color: #f8d7da;
}

.response-history-item.accordion-item .alert-danger.accordion-header .accordion-button {
    background-color: #f8d7da;
}
